@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

.header {
  background-image: url("/assets/header-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
